# 🔹 Исключаем виртуальное окружение
.venv/
venv/

# 🔹 Исключаем конфиденциальные данные (API-ключи)
.env
*.secret

# 🔹 Исключаем временные файлы PyCharm
.idea/

# 🔹 Исключаем кеши Python
__pycache__/
*.py[cod]
*.swp
*.swo

# 🔹 Исключаем логи
*.log

# 🔹 Исключаем файлы ОС
.DS_Store
Thumbs.db